@media (min-width: 768px) {
    img {
        width: 50%; 
    }
}
@media (min-width: 1024px) {
    img {
    width: 40%; 
    }
}

.info-1{
    background-image: url('../img/Mask-group.png');
    background-position: center;
    display: flex;
    padding: 25px;
    align-items: center;
    height: 575px;
}

.img-1 {
    height: 400px;
    border-radius: 20px;
    padding: 25px;
}

.juduldanket-1{
    color: white;
    padding-left: 100px;
    padding-right: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.jdl{
    font-weight: 400;
}

.isiKonteks{
    background-image: URL('../img/Group 2.png');
}
.box-2, .box-3, .box-4{
    width: 100%; 
    color: white; 
    text-align: center;
    background-color: #000000; 
    padding:50px;
}
.kotak {
    padding: 40px;
}

.wb, .am, .jdr {
    top: 50%; 
    left: 50%;
    color: #ffffff; 
    font-size: 33px; 
    font-family: judul;
    letter-spacing: 5px;
}

.image1, .image2{
    padding: 20px;
}


/* DI BAWAH LOM DIATUR */

/* .slider-wrapper .slide-button {
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.slider-wrapper .slide-button:hover {
    background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}
.slider-wrapper .slide-button#next-slide {
    right: -25px;
}
.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}  */

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none;
    }
    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }
    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
        }
}
